@import '../constants/breaks';

@mixin uiux-icons{
  background: url('../../assets/uiux_icons.png') 0 0 no-repeat;
  background-size: 720px 220px;
}

@mixin uiux-flags{
  background: url('../../assets/uiux_flags.png') 0 0 no-repeat;
  background-size: 2390px 77px;
}

.icn-10{
  @include uiux-icons;
  width: 10px; height: 10px;

  &.live{background-position: -275px -92px; width: 24px;}
  &.next{background-position: -305px -92px; width: 32px;}
}

.icn-16{
  @include uiux-icons;
  width: 16px; height: 16px;

  &.pin{background-position: -125px -92px;}
  &.chip{background-position: -175px -92px;}
}

.icn-20{
  @include uiux-icons;
  width: 20px; height: 20px;
  background-position: -485px 0;

  &.back{background-position: -510px 0;}
  &.title{background-position: -535px 0; width: 80px;}

  &:hover{background-position-y:-30px;}
  &:active{background-position-y:-60px;}
}

.icn-26{
  @include uiux-icons;
  width: 26px; height: 26px;
  background-position: -125px 0;

  &.more{background-position: -125px 0;}
  &.menu{background-position: -155px 0;}
  &.games, &.home{background-position: -185px 0;}
  &.ranking{background-position: -215px 0;}
  &.chat{background-position: -245px 0;}
  &.help{background-position: -275px 0;}
  &.account{background-position: -305px 0;}
  &.refresh{background-position: -335px 0;}

  &:hover{background-position-y:-30px;}
  &:active, &.active{background-position-y:-60px;}
}

.icn-26{
  @include uiux-icons;
  width: 26px; height: 26px;

  &.main{
    background-position: -225px -180px;

    &.lotofoot-dev, &.lotofoot-pre{
      position: relative;
      &:before {
        content: "*";
        position: absolute;
        top: -8px; right: -8px;
        font-size: 20px;
      }
    }
  }
}

.icn-36{
  @include uiux-icons;
  width: 36px; height: 36px;

  &.main{
    background-position: -0px -0px;

    &.lotofoot-dev, &.lotofoot-pre{
      position: relative;
      &:before {
        content: "*";
        position: absolute;
        top: -8px; right: -8px;
        font-size: 20px;
      }
    }
  }

  &.main.full{background-position: -0px -0px; width: 120px;}

  &:hover{background-position-y:-36px;}
  &:active{background-position-y:-72px;}
}

.icn-60{
  @include uiux-icons;
  width: 60px; height: 60px;

  &.footix{background-position: -225px -115px;}
}

.icn-100{
  @include uiux-icons;
  width: 100px; height: 100px;

  &.account{background-position: -120px -115px;}
}

.pixel{
  width: 0; height: 0;
  &.loader{background: url('../../assets/loader.svg');}
  &.uiux_loader{background: url('../../assets/uiux_loader.png');}
  &.uiux_icons{background: url('../../assets/uiux_icons.png');}
  &.bordeaux{background: url('../../assets/staduims/bordeaux.jpg');}
  &.lens{background: url('../../assets/staduims/lens.jpg');}
  &.lille{background: url('../../assets/staduims/lille.jpg');}
  &.lyon{background: url('../../assets/staduims/lyon.jpg');}
  &.marseille{background: url('../../assets/staduims/marseille.jpg');}
  &.nice{background: url('../../assets/staduims/nice.jpg');}
  &.paris{background: url('../../assets/staduims/paris.jpg');}
  &.saint-denis{background: url('../../assets/staduims/saint-denis.jpg');}
  &.saint-etienne{background: url('../../assets/staduims/saint-etienne.jpg');}
  &.toulouse{background: url('../../assets/staduims/toulouse.jpg');}
}

.chn-24{
  @include uiux-icons;
  display: inline-block;
  vertical-align: top;
  width: 24px; height: 24px;

  &.tf1{background-position: -0px -115px;}
  &.m6{background-position: -30px -115px;}
  &.tmc{background-position: -60px -115px;}
  &.bein-sports-1{background-position: -90px -115px;}
}

.chn-18{
  @include uiux-icons;
  display: inline-block;
  vertical-align: top;
  width: 18px; height: 18px;

  &.tf1{background-position: -0px -145px;}
  &.m6{background-position: -30px -145px;}
  &.tmc{background-position: -60px -145px;}
  &.bein-sports-1{background-position: -90px -145px;}
}


.flag-60{
  @include uiux-flags;
  width: 90px; height: 60px;

  &.albania{background-position: -0px -0px;}
  &.austria{background-position: -100px -0px;}
  &.belgium{background-position: -200px -0px;}
  &.croatia{background-position: -300px -0px;}
  &.england{background-position: -400px -0px;}
  &.france{background-position: -500px -0px;}
  &.germany{background-position: -600px -0px;}
  &.hungary{background-position: -700px -0px;}
  &.iceland{background-position: -800px -0px;}
  &.ireland{background-position: -900px -0px;}
  &.italy{background-position: -1000px -0px;}
  &.northern-ireland{background-position: -1100px -0px;}
  &.poland{background-position: -1200px -0px;}
  &.portugal{background-position: -1300px -0px;}
  &.romania{background-position: -1400px -0px;}
  &.russia{background-position: -1500px -0px;}
  &.slovakia{background-position: -1600px -0px;}
  &.spain{background-position: -1700px -0px;}
  &.sweden{background-position: -1800px -0px;}
  &.switzerland{background-position: -1900px -0px;}
  &.czech-republic{background-position: -2000px -0px;}
  &.turkey{background-position: -2100px -0px;}
  &.ukraine{background-position: -2200px -0px;}
  &.wales{background-position: -2300px -0px;}
}

.flag-12{
  @include uiux-flags;
  width: 18px; height: 12px;

  &.albania{background-position: -0px -65px;}
  &.austria{background-position: -100px -65px;}
  &.belgium{background-position: -200px -65px;}
  &.croatia{background-position: -300px -65px;}
  &.england{background-position: -400px -65px;}
  &.france{background-position: -500px -65px;}
  &.germany{background-position: -600px -65px;}
  &.hungary{background-position: -700px -65px;}
  &.iceland{background-position: -800px -65px;}
  &.ireland{background-position: -900px -65px;}
  &.italy{background-position: -1000px -65px;}
  &.northern-ireland{background-position: -1100px -65px;}
  &.poland{background-position: -1200px -65px;}
  &.portugal{background-position: -1300px -65px;}
  &.romania{background-position: -1400px -65px;}
  &.russia{background-position: -1500px -65px;}
  &.slovakia{background-position: -1600px -65px;}
  &.spain{background-position: -1700px -65px;}
  &.sweden{background-position: -1800px -65px;}
  &.switzerland{background-position: -1900px -65px;}
  &.czech-republic{background-position: -2000px -65px;}
  &.turkey{background-position: -2100px -65px;}
  &.ukraine{background-position: -2200px -65px;}
  &.wales{background-position: -2300px -65px;}
}
