@import '../constants/colors';
@import '../constants/breaks';

.Nav{
  position: relative;
  height: 100%;

  &.NavAnim-enter{
    transform: translate3d(-80px, 0, 0);
  }

  &.NavAnim-enter.NavAnim-enter-active{
    transform: translate3d(0, 0, 0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  &.NavAnim-leave{
    transform: translate3d(0, 0, 0);
  }

  &.NavAnim-leave.NavAnim-leave-active{
    transform: translate3d(-80px, 0, 0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  .NavSummary{
    position: absolute;
    left: 0; top: 58px; bottom: 0;//bottom: 24px;
    width: 70px;
    background: white;
    z-index: 100;
    user-select: none;
    overflow-x: hidden; overflow-y: auto;
    overflow-scrolling: touch; -webkit-overflow-scrolling: touch;

    .NavLink{
      display: block;
      transform: translateZ(0);
      cursor: pointer;
      padding: 12px 20px 12px 24px;
      &:first-child{margin-top: 6px;}

      &:focus{outline: none; .icn-26{background-position-y:-30px;}}
      &:hover .icn-26 {background-position-y:-30px;}
      &:active .icn-26, &.active .icn-26{background-position-y:-60px;}
    }
  }

  .NavFull{
    position: absolute;
    left: 0; top: 0; bottom: 0;
    width: 280px;
    background: white;
    z-index: 211;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
    user-select: none;
    overflow-x: hidden; overflow-y: auto;
    overflow-scrolling: touch; -webkit-overflow-scrolling: touch;

    &.NavFullAnim-enter{
      transform: translate3d(-290px, 0, 0);
    }

    &.NavFullAnim-enter.NavFullAnim-enter-active{
      transform: translate3d(0, 0, 0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }

    &.NavFullAnim-leave{
      transform: translate3d(0, 0, 0);
    }

    &.NavFullAnim-leave.NavFullAnim-leave-active{
      transform: translate3d(-290px, 0, 0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }

    .MainLink{
      display: block;
      height: 40px;
      padding: 0;
      margin-bottom: 11px;
      cursor: pointer;
      .icn-36{margin: 11px 19px;}
      &:hover .icn-36{background-position-y:-36px;}
      &:active .icn-36{background-position-y:-72px;}
    }

    .NavLink{
      display: block;
      padding: 12px 20px 12px 24px;
      cursor: pointer;

      &.active{
        background-color: $grey-2
      }

      .icn-26{
        display: inline-block;
        vertical-align: top;
      }

      .NavLinkTxt{
        padding-left: 12px;
        line-height: 25px;
        font-size: 14px;
        font-weight: 300;
      }
    }

    .NavLinkSpacer{
      margin: 12px 0;
      border-bottom: solid $grey-5 1px;
    }
  }
}

@media (max-width: $break-medium){
  .Nav{
    transform: translate3d(-80px, 0, 0);

    &.NavAnim-enter{
      transform: translate3d(-80px, 0, 0);
    }

    &.NavAnim-enter.NavAnim-enter-active{
      transform: translate3d(-80px, 0, 0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }

    &.NavAnim-leave{
      transform: translate3d(-80px, 0, 0);
    }

    &.NavAnim-leave.NavAnim-leave-active{
      transform: translate3d(-80px, 0, 0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }
}