@import '../constants/colors';
@import '../constants/typography';

.HelpBlock{
  max-width: 700px;
  margin: 0 auto 0 auto;
  text-align: center;

  div, span, a{
//    font-size: 15px;
  }

  .HelpTable{
    margin: 12px 0;

    table{
      table-layout: fixed;
      width: 100%;
      border: solid $grey-5 1px;

      th{
//        font-size: 13px;
        &:not(:last-child){border-right: solid $grey-5 1px;}
      }

      td:not(:last-child){
        border-right: solid $grey-5 1px;
      }

      tbody{
        tr:nth-child(odd){
          background: $grey-1;
        }
      }
    }
  }
}