@import '../constants/colors';

.AccountBtn{
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  padding: 16px 6px;

  &:hover .icn-26{background-position-y:-30px;}
  &:active .icn-26{background-position-y:-60px;}
}