@import '../constants/colors';

.BackBtn{
  display: inline-block;
  vertical-align: top;
  height: 40px;
  margin: 9px 3px 9px 0;
  border-radius: 2px;
  cursor: pointer;
  padding: 8px 10px;

  &:hover{
    .icn-20{background-position-y:-30px;}
  }

  &:active{
    .icn-20{background-position-y:-60px;}
  }

  .icn-20{
    margin: 2px 0;
  }
}
