@import '../constants/colors';
@import '../constants/breaks';

.BackBtn{
  cursor: pointer;
  padding: 16px 0 16px 3px;
  white-space: nowrap;

  .icn-26{
    display: inline-block;
    vertical-align: top;
  }

  .Label{
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
    font-weight: 500;
    line-height: 24px;
//    font-size: 15px;
  }

  &:hover{
    .icn-26{background-position-y:-30px;}
    .Label{color: $grey-9;}
  }

  &:active{
    .icn-26{background-position-y:-60px;}
    .Label{color: $footix-blue;}
  }
}

@media (max-width: $break-medium){
  .BackBtn{
    padding: 8px 0 8px 3px;
  }
}