@import '../constants/colors';
@import '../constants/breaks';
@import '../constants/typography';

.HeaderBtn{
  display: inline-block;
  vertical-align: top;
  height: 40px;
  margin: 7px 3px 7px 0;
  padding: 8px 6px;

  &:hover{
    .btn-20{
      background-position-y: -24px;
    }
  }

  &:active{
    .btn-20{
      background-position-y: -48px;
    }
  }

  .btn-20{
    margin: 4px 0;
  }

  .icn-10{
    margin: auto;
  }

  .Live{
    cursor: pointer;

    .btn-20{
      margin: 0;
    }

    .Cartouche{
      background: $grey-5;
      height: 18px;
      padding: 0 3px;
      line-height: 16px;

      .Flag{
        display: inline-block;
        vertical-align: top;
        margin: 3px 0;
        font-size: 0;
        &:first-child{margin-right: 3px;}
        &:last-child{margin-left: 3px;}
      }

      .Score{
        display: inline-block;
        vertical-align: top;
        font-size: $font-size-s;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: $break-medium){
  .HeaderBtn{
    padding: 0 6px;
  }
}