@import '../constants/colors';

.HeaderBtn{
  display: inline-block;
  vertical-align: top;
  height: 40px;
  margin: 7px 3px 7px 0;
  cursor: pointer;
  padding: 8px 6px;

  &:hover{
    .icn-20{background-position-y:-30px;}
  }

  &:active{
    .icn-20{background-position-y:-60px;}
  }

  .icn-20{
    margin: 4px 0;
  }

  .Live{
    .icn-20{
      margin: 0;
    }

    .Cartouche{
      background: $grey-5;
      height: 18px;
      padding: 0 3px;
      line-height: 16px;

      .Flag{
        display: inline-block;
        vertical-align: top;
        margin: 3px 0;
        font-size: 0;
        &:first-child{margin-right: 3px;}
        &:last-child{margin-left: 3px;}

        img{
          height: 12px;
        }
      }
      .Score{
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
