@import '../constants/colors';

.RefreshBtn{
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  padding: 16px 3px;

  &:hover .icn-26{background-position-y:-30px;}
  &:active .icn-26{background-position-y:-60px;}
}