$color-white: #FFF;
$color-black: #000;
$color-primary: #3E3D40;
$color-border: #CCC;
$color-background: #EAEAEA;

$grey-dark: #3E3E3E;
$blue-light: #E7ECF5;
$blue-medium: #B4CAE9;

$grey-0: rgb(252, 252, 252);
$grey-1: rgb(248, 248, 248);//-10
$grey-2: #ECEFF2;//-9
$grey-3: rgb(229, 229, 229);//-8
$grey-4: rgb(221, 221, 221);//-7
$grey-5: rgb(214, 214, 214);//-6
$grey-6: rgb(198, 198, 198);//-5
$grey-7: rgb(193, 193, 193);//-4
$grey-8: rgb(189, 189, 189);
$grey-9: rgb(147, 147, 147);
$grey-10: rgb(129, 129, 129);
$grey-medium: #5f5f5f;
$blue-ultralight: #f5f7fa;
$blue-dark: #85AADA;
$blue-fluo: #009ADB;
$blue-fluo-2: #19aeed;
$blue-fluo-3: #45bdf0;
$blue-fluo-light: #78d7ff;
//$orange-light: #FFF2CF;
$orange: #FEBE12;
$egg: #EFEBE3;
$egg-dark: #dddad4;
$red-fluo: #e80000;
$red-fluo-light: #ff6868;
$green-fluo: #23cc03;
$green-fluo-light: #8dff78;
$green-light: #d3ffcc;
$orange-light: #fff3cc;

$footix-blue: #2D7EBC;
$footix-red: #DA4843;
$footix-yellow: #F9DA3A;

$flux-1: #B7744F;
$flux-2: #EFA96F;
$flux-3: #FFE094;
$stock-1: #A3352E;
$stock-2: #C96F75;
$stock-3: #EF8F8F;
$info-1: #2C4A7C;
$info-2: #4F72A6;
$info-3: #A2B4C6;
$sport-1: #006837;
$sport-2: #3E8A4E;
$sport-3: #A0D64C;
$divers-1: #50496B;
$divers-2: #897AA0;
$divers-3: #C9B2D3;

$live: #C45037;
$veille: #EF861D;
$conso: #449557;

$hom: #17BAE2;
$fem: #E217A3;
$ind: #10B110;

$green: #10B110;
$red: #ed0909;
$cal-color: #C12943;
$fluo-blue: #009ADB;
$ultralight-red: #fff0f0;
$ultralight-blue: #f5f7fa;
$light-blue: #E7ECF5;
$medium-blue-2: #cbddf2;
$medium-blue: #B8CDE6;
$dark-blue: #85AADA;

$tab-light: #F1F8E9;
$tab-med: #DCEDC8;