$font-family: "freight-sans-pro", "Helvetica Neue", sans-serif;
$font-size: 14px;
$font-weight: 300;
$text-rendering: optimizeLegibility;

$font-family-numbers: "proxima-nova", "Helvetica Neue", sans-serif;
$font-size-numbers: 24px;
$font-weight-numbers: 300;
$text-rendering-numbers: optimizeLegibility;