$font-family: "freight-sans-pro", "Helvetica Neue", sans-serif;
$font-weight: 300;
$text-rendering: optimizeLegibility;
$font-size-xs: 11px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 26px;
$font-size-big-1: 40px;
$font-size-big-2: 70px;


$font-family-numbers: "proxima-nova", "Helvetica Neue", sans-serif;
$font-size-numbers: 24px;
$font-weight-numbers: 300;
$text-rendering-numbers: optimizeLegibility;