@import '../constants/colors';
@import '../constants/breaks';
@import '../constants/typography';

.MessagesTab{
  .MessageLine{
    >:not(.Me){padding-right: 40%;}
    >.Me{padding-left: 40%;}
    &:not(:last-child){margin-bottom: 6px;}

    .MessageBlock{
      position: relative;
      background: $grey-3;
      border-radius: 6px;
      padding: 6px 9px;

      .Name{
        font-weight: 500;
        font-size: 13px;
        line-height: 14px;
      }

      .Text{
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
      }

      .Date{
        font-size: 12px;
        line-height: 12px;
        text-align: right;
      }

      .Phylactery{
        position: absolute;
        width: 9px;
        bottom: 6px; left: -9px;
        background-position: -215px -100px;
      }
    }

    >.Me{
      .MessageBlock{
        background: $blue-fluo;

        .Name, .Text, .Date{
          color: white;
        }

        .Phylactery{
          left: initial; right: -9px;
          background-position: -204px -100px;
        }
      }
    }
  }
}

@media (max-width: $break-medium){
  .MessagesTab{
    .MessageLine{
      >:not(.Me){padding-right: 30%;}
      >.Me{padding-left: 30%;}
    }
  }
}
