@import '../constants/colors';
@import '../constants/breaks';
@import '../constants/typography';

.MessagesTab{
  .MessageLine{
    >:not(.Me){padding-right: 40%;}
    >.Me{padding-left: 40%;}
    &:not(:last-child){margin-bottom: 6px;}

    .MessageBlock{
      position: relative;
      display: inline-block;
      vertical-align: top;
      background: $grey-3;
      border-radius: 6px;
      padding: 6px 9px;
      text-align: left;

      .Title{
        white-space: nowrap;

        .Name{
          display: inline-block;
          vertical-align: top;
          font-weight: 500;
          font-size: $font-size-s;
          line-height: 14px;
        }

        .Date{
          display: inline-block;
          vertical-align: top;
          font-size: $font-size-s;
          line-height: 14px;
          padding-left: 6px;
          opacity: 0.7;
        }
      }

      .Text{
        display: inline-block;
        vertical-align: top;
        text-align: center;

        span{
          font-weight: 300;
          line-height: 18px;
        }

        .WithEmojis{
          line-height: 30px;

          span{
            line-height: 28px;
          }
        }

        img{
          margin: auto;
          max-height: 500px;
          max-width: 400px;
        }
      }

      .Phylactery{
        position: absolute;
        width: 9px;
        bottom: 6px; left: -9px;
        background-position: -35px -20px;
      }
    }

    >.Me{
      text-align: right;

      .MessageBlock{
        background: $footix-blue;

        .Name, .Text, .Text span, .Date{
          color: white;
        }

        .Phylactery{
          left: initial; right: -9px;
          background-position: -20px -20px;
        }
      }
    }
  }
}

@media (max-width: $break-medium){
  .MessagesTab{
    .MessageLine{
      >:not(.Me){padding-right: 30%;}
      >.Me{padding-left: 30%;}
    }
  }
}
