@import '../constants/colors';
@import '../constants/breaks';
@import '../constants/typography';

.Paper.PredictionBlock{
  .Title{
    text-align: center;
    font-size: 18px;
    &:not(:last-child){margin-bottom: 12px;}
  }
  &.Paper .AltPaperTitle{
    border-bottom: solid $grey-5 1px;
    margin-bottom: 12px;
  }

  .Prediction{
    margin: 0 -12px -12px -12px;
    text-align: center;

    .Inputs{
      input, span{
        font-family: $font-family-numbers;
        font-size: $font-size-numbers;
        font-weight: $font-weight-numbers;
        text-rendering: $text-rendering-numbers;
        height: 40px;
      }

      input{
        width: 52px;
        text-align: center;
      }
    }

    .InputsBtns{
      border-top: dotted $grey-5 1px;
      margin-top: 12px;
      padding-top: 12px;

      span{
        font-size: 15px;
        line-height: 28px;
      }

    }

    .Btns{
      padding: 12px 0 0 0;
    }
  }

  .Points{
    text-align: center;
    margin-top: 12px;
  }

  .PoolRanking{
    border-top: dotted $grey-5 1px;
    text-align: center;
    padding: 12px 0 0 0;
    margin-top: 12px;
  }
}

@media (max-width: $break-medium){
  .Paper.PredictionBlock{
    border-radius: 0;
  }
}