@import '../constants/colors';
@import '../constants/breaks';

.Modal{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  &.Anim-enter {
    .MainMenu{transform: translate3d(100%, 0, 0);}
    .ModalBody{transform: translate3d(100%, 0, 0);}
  }

  &.Anim-enter.Anim-enter-active {
    .MainMenu{
      will-change: transform;
      transition: all 300ms cubic-bezier(0, 0.70, 0.60, 1) 0ms;
      transform: translate3d(0, 0, 0);
    }
    .ModalBody{
      will-change: transform;
      transition: all 300ms cubic-bezier(0, 0.70, 0.60, 1) 0ms;
      transform: translate3d(0, 0, 0);
    }
  }

  &.Anim-leave {
    .MainMenu{transform: translate3d(0, 0, 0);}
    .ModalBody{transform: translate3d(0, 0, 0);}
  }

  &.Anim-leave.Anim-leave-active {
    .MainMenu{
      will-change: transform;
      transition: all 300ms cubic-bezier(0, 0.70, 0.60, 1) 0ms;
      transform: translate3d(100%, 0, 0);
    }
    .ModalBody{
      will-change: transform;
      transition: all 300ms cubic-bezier(0, 0.70, 0.60, 1) 0ms;
      transform: translate3d(100%, 0, 0);
    }
  }

  .MainMenu{
    box-shadow: none;
    z-index: 220;
  }

  .ModalBody{
    position: absolute;
    top: 58px; right: 0; left: 70px; bottom: 0;
    z-index: 200;
    overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch;
    padding: 12px 12px 12px 4px;
    transform: translateZ(0);
    background: $grey-0;
  }
}

@media (max-width: $break-medium){
  .Modal{
    .ModalBody{
      top: 48px; bottom: 44px; left: 0;
      padding: 0;
    }
  }
}