@import '../constants/colors';
@import '../constants/breaks';
@import '../constants/typography';

@font-face {
  font-family: 'CargoRegular';
  src: url('../../assets/Cargo-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

.Body{
  position: relative;
  height: calc(100% - 120px);
  min-height: 700px;

  .IlluContainer{
    padding: 24px;
    background: url('../../assets/uiux_help-back.jpg') center center no-repeat;
    background-size: cover;

    .Illu{
      height: 320px;
      background: url('../../assets/footix-2018.svg') center top no-repeat;
      background-size: contain;
    }
  }

  .TextsContainer{
    display: flex;
    height: calc(100% - 368px);
    text-align: center;
    padding: 0 12px;

    .Texts{
      max-width: $text-width;
      margin: auto;

      h2{
        span{
          font-family: 'CargoRegular';
          color: #000;
          font-size: $font-size-big-2;
          font-weight: normal;
          font-style: normal;

          &.Suffixe{
            color: #00ff72;
          }
        }
      }

      h3{
        font-family: 'CargoRegular';
        color: #000;
        font-size: $font-size-xxxl;
        font-weight: normal;
        font-style: normal;
        margin-top: -9px;
      }

      p{
        font-size: $font-size-xl;
      }
    }
  }
}

@media (max-width: $break-medium){
  .Body{
    min-height: 450px;

    .IlluContainer{
      padding: 12px;

      .Illu{
        height: 220px;
      }
    }

    .TextsContainer{
      height: calc(100% - 244px);
    }
  }
}

@media (max-width: $break-small){
  .Body{
    min-height: 400px;

    .IlluContainer{
      .Illu{
        height: 180px;
      }
    }

    .TextsContainer{
      height: calc(100% - 204px);

      .Texts{
        h2{
          span{
            font-size: $font-size-big-1;
          }
        }
      }
    }
  }
}