@import './constants/colors';

.doprint{display: none;}

@media print {
  @page{
    size: auto;
    margin: 0.7cm 0;
  }
}

#root.print{
  min-width: 21cm;
  max-width: 21cm;
  background-color: #fff;
  position: relative;
  padding: 0 0.7cm;
  margin: auto;

  *{-webkit-print-color-adjust:exact;}

  .noprint{display: none !important;}
  .doprint{display: block !important;}

  .Navs{display: none;}
  .MainMenu{display: none;}

  .Page{
    position: initial;
    box-shadow: none;
    border: none;
  }

  .Page-body{
    position: initial;

    &>div{
      position: initial;
    }
  }
}