.CurrentGame{
  background: red;
  height: 250px;
  position: relative;

  .stadium{
    position: absolute;
    top: -12px; right: -12px; bottom: -12px; left: -12px;
    filter: blur(3px) contrast(130%); -webkit-filter: blur(3px) contrast(130%);
    opacity: 0.5;
    z-index: 0;
    
    &.bordeaux{background: url('../../assets/staduims/bordeaux.jpg') center bottom no-repeat; background-size: cover;}
    &.lens{background: url('../../assets/staduims/lens.jpg') center center no-repeat; background-size: cover;}
    &.lille{background: url('../../assets/staduims/lille.jpg') center center no-repeat; background-size: cover;}
    &.lyon{background: url('../../assets/staduims/lyon.jpg') center center no-repeat; background-size: cover;}
    &.marseille{background: url('../../assets/staduims/marseille.jpg') center center no-repeat; background-size: cover;}
    &.nice{background: url('../../assets/staduims/nice.jpg') center center no-repeat; background-size: cover;}
    &.paris{background: url('../../assets/staduims/paris.jpg') center center no-repeat; background-size: cover;}
    &.saint-denis{background: url('../../assets/staduims/saint-denis.jpg') center center no-repeat; background-size: cover;}
    &.saint-etienne{background: url('../../assets/staduims/saint-etienne.jpg') center center no-repeat; background-size: cover;}
    &.toulouse{background: url('../../assets/staduims/toulouse.jpg') center bottom no-repeat; background-size: cover;}
  }

}
