@import '../constants/colors';
@import '../constants/breaks';
@import '../constants/typography';

.GameBlock{
  height: 250px;
  position: relative;

  .Stadium{
    position: absolute;
    top: -12px; right: -12px; bottom: -12px; left: -12px;
    filter: blur(4px) contrast(160%); -webkit-filter: blur(4px) contrast(160%);
    opacity: 0.35;
    z-index: 0;

    &.bordeaux{background: url('../../assets/staduims/bordeaux.jpg') center bottom no-repeat; background-size: cover;}
    &.lens{background: url('../../assets/staduims/lens.jpg') center center no-repeat; background-size: cover;}
    &.lille{background: url('../../assets/staduims/lille.jpg') center top no-repeat; background-size: cover;}
    &.lyon{background: url('../../assets/staduims/lyon.jpg') center center no-repeat; background-size: cover;}
    &.marseille{background: url('../../assets/staduims/marseille.jpg') center center no-repeat; background-size: cover;}
    &.nice{background: url('../../assets/staduims/nice.jpg') center center no-repeat; background-size: cover;}
    &.paris{background: url('../../assets/staduims/paris.jpg') center center no-repeat; background-size: cover;}
    &.saint-denis{background: url('../../assets/staduims/saint-denis.jpg') center center no-repeat; background-size: cover;}
    &.saint-etienne{background: url('../../assets/staduims/saint-etienne.jpg') center center no-repeat; background-size: cover;}
    &.toulouse{background: url('../../assets/staduims/toulouse.jpg') center bottom no-repeat; background-size: cover;}
  }

  .GameBlockData{
    position: absolute;
    top: 0; right: 0; bottom: 36px; left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .Date{
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      margin: 0 0 6px 0;
    }

    .Phase{
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      margin: 0 0 24px 0;
    }

    .TeamBlock{
      text-align: center;
      display: flex;
      justify-content: center;

      .Team{
        flex: 1;
        max-width: 300px;
        &:first-child{margin-right: 24px;}
        &:last-child{margin-left: 24px;}

        .Flag{
          font-size: 0;

          .Img{
            margin: auto;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            width: 90px;
            height: 60px;
          }
        }

        .Label{
          font-size: 15px;
          line-height: 20px;
        }
      }

      .ScoreContainer{
        height: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .Score{
          span{
            font-family: $font-family-numbers;
            font-size: $font-size-numbers;
            font-weight: $font-weight-numbers;
            text-rendering: $text-rendering-numbers;
            font-size: 28px;
            font-weight: 500;
            line-height: 18px;
          }
        }

        .Time{
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }
      }
    }
  }

  .MetaData{
    position: absolute;
    right: 0; bottom: 0; left: 0;
    height: 36px;
    background: rgba(255, 255, 255, 0.66);
    display: flex;
    justify-content: space-between;

    .Left{
      margin: 10px 6px;

      .icn-16{
        display: inline-block;
        vertical-align: top;
        margin-top: 1px;

      }

      .Label{
        display: inline-block;
        vertical-align: top;
        line-height: 16px;
        height: 16px;
        padding-left: 1px;
      }
    }

    .Right{
      margin: 6px;
      div:not(:first-child){margin-left: 6px;}
    }
  }
}

@media (max-width: $break-medium){
  .GameBlock{
    height: 200px;

    .GameBlockData{
      .Phase{
        margin: 0 0 12px 0;
      }

      .TeamBlock{
        .Team{
          &:first-child{margin-right: 12px;}
          &:last-child{margin-left: 12px;}

          .Flag{
            img{
              height: 58px;
            }
          }
        }

        .ScoreContainer{
          height: 78px;

          .Score{
            span{
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}