@import '../constants/colors';
@import '../constants/breaks';
@import '../constants/typography';

.Paper.GamesTab{
  text-align: center;
  padding-bottom: 0;

  .PhaseSelector{
    margin: 0 -12px 0 -12px;
    background: $footix-blue;
    display: flex;

    .PhaseBtn{
      flex: 1;
      cursor: pointer;

      .PhaseLabel{
        color: white;
        font-size: 15px;
        height: 42px;
        line-height: 40px;
        transition: all .15s ease;
        border-bottom: solid $footix-yellow 0px;
      }

      &:hover{
        background-color: rgba(255, 255, 255, 0.20);
      }

      &:active{
        background-color: rgba(255, 255, 255, 0.10);
      }

      &.Active{
        .PhaseLabel{
          border-bottom: solid $footix-yellow 3px;
        }
      }
    }
  }

  .GamesSelector{
    margin: 0 -12px 0 -12px;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    overflow-scrolling: touch; -webkit-overflow-scrolling: touch;
    transform: translateZ(0);
    margin-bottom: 12px;
    border-bottom: solid $grey-5 1px;
    border-top: solid $grey-5 1px;

    &::before, &::after {
      content: '';
    }

    .GamesBtn{
      cursor: pointer;
      flex-shrink: 0;

      .GamesLabel{
        font-size: 14px;
        height: 34px;
        line-height: 32px;
        transition: all .15s ease;
        border-bottom: solid $footix-red 0px;
        white-space: nowrap;
        padding: 0 12px;
      }

      &:hover{
        background-color: rgba(0, 0, 0, 0.10);
      }

      &:active{
        background-color: rgba(0, 0, 0, 0.05);
      }

      &.Active{
        .GamesLabel{
          color: $footix-red;
          border-bottom: solid $footix-red 3px;
        }
      }
    }
  }

  .TabContent{
    .Date{
      margin: 0 -12px;
      background: $grey-1;
      border-top: solid $grey-3 1px;
      border-bottom: solid $grey-3 1px;
      text-align: left;
      padding: 0 12px;
      color: $grey-9;
      font-weight: 500;
      font-size: 12px;
      margin-top: -1px;
    }

    .Row{
      display: block;
      margin: 0 -12px;
      border-bottom: solid $grey-3 1px;
      cursor: pointer;
      &:hover{background-color: $grey-1;}
      &:active{background-color: $grey-0;}

      .RowLine{
        display: flex;
        border-bottom: dotted $grey-5 1px;

        .Head{
          height: 30px; width: 36px;
          flex-basis: 36px;
          flex-shrink: 0;

          .Pin{
            width: 8px; height: 8px;
            margin: 11px 14px;
            border-radius: 4px;
            background-color: $footix-blue;
          }

          //          .chn-ico{
          //            margin: 3px 6px;
          //          }
        }

        .Flag{
          position: absolute;
          width: 18px; height: 12px;
          top: 9px;
          background-size: contain;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }

        .TeamLabel{
          position: absolute;
          top: 0; bottom: 0;
          line-height: 30px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: 500;
          color: $grey-9;

          &.Winner{
            color: black;
          }
        }

        .Left{
          position: relative;
          flex: 1;

          .Flag{right: 0;}
          .TeamLabel{
            right: 24px; left: 0;
            text-align: right;
          }
        }

        .Center{
          width: 46px;

          .Time{
            font-size: 15px;
            font-weight: 500;
            color: $grey-9;
            line-height: 30px;
            height: 30px;
          }

          .Score{
            height: 30px;

            span{
              font-family: $font-family-numbers;
              text-rendering: $text-rendering-numbers;
              color: $grey-9;
              line-height: 30px;
              font-size: 13px;
              font-weight: 500;
              color: black;
            }
          }
        }

        .Right{
          position: relative;
          flex: 1;

          .Flag{left: 0;}
          .TeamLabel{
            left: 24px; right: 0;
            text-align: left;
          }
        }
      }

      .RowSubLine{
        display: flex;

        .Head{
          height: 30px; width: 36px;
          flex-basis: 36px;
          flex-shrink: 0;
          //
          //          .Pin{
          //            width: 8px; height: 8px;
          //            margin: 11px 14px;
          //            border-radius: 4px;
          //            background-color: $footix-blue;
          //          }
          //
          //          .chn-ico{
          //            margin: 3px 6px;
          //          }
        }

        .PredictionLabel{
          position: absolute;
          top: 0; bottom: 0;
          line-height: 28px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          color: $grey-9;
          //          text-align: left;
        }

        .Left{
          position: relative;
          flex: 1;
          height: 30px;

          .PredictionLabel{
            right: 0; left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: $break-medium){
  .GamesTab{
    .TabContent{
      //      .Match{
      //        .Left{
      //          display: none;
      //        }
      //
      //        .Center{
      //          div{
      //            font-size: 13px;
      //          }
      //
      //          .Team{
      //            .Flag{
      //              height: 10px;
      //              margin-top: 6px;
      //
      //              img{
      //                height: 10px;
      //              }
      //            }
      //          }
      //
      //          .Score{
      //            width: 40px;
      //            font-size: 14px;
      //          }
      //        }
      //
      //        .Right{
      //          display: none;
      //        }
      //      }
    }
  }
}