@import '../constants/colors';
@import '../constants/breaks';
@import '../constants/typography';

.Paper.GameBlock{
  height: 250px;
  position: relative;

  .Stadium{
    position: absolute;
    top: -12px; right: -12px; bottom: -12px; left: -12px;
    filter: blur(4px) contrast(160%); -webkit-filter: blur(4px) contrast(160%);
    opacity: 0.35;
    z-index: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.luzhniki{background-image: url('../../assets/staduims/luzhniki.jpg'); background-position: center bottom;}
    &.otkritie{background-image: url('../../assets/staduims/otkritie.jpg');}
    &.krestovsky{background-image: url('../../assets/staduims/krestovsky.jpg'); background-position: top center;}
    &.fisht{background-image: url('../../assets/staduims/fisht.jpg');}
    &.kazan{background-image: url('../../assets/staduims/kazan.jpg');}
    &.volgograd{background-image: url('../../assets/staduims/volgograd.jpg'); background-position: center bottom;}
    &.kaliningrad{background-image: url('../../assets/staduims/kaliningrad.jpg');}
    &.ekaterinburg{background-image: url('../../assets/staduims/ekaterinburg.jpg'); background-position: center bottom;}
    &.mordovia{background-image: url('../../assets/staduims/mordovia.jpg');}
    &.nizhny-novgorod{background-image: url('../../assets/staduims/nizhny-novgorod.jpg');}
    &.rostov{background-image: url('../../assets/staduims/rostov.jpg');}
    &.cosmos{background-image: url('../../assets/staduims/cosmos.png');}
  }

  .GameBlockData{
    position: absolute;
    top: 0; right: 0; bottom: 36px; left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .Date{
      text-align: center;
      font-size: $font-size-xxl;
      font-weight: 500;
      margin: 0 0 6px 0;
    }

    .Phase{
      text-align: center;
      font-size: $font-size-l;
      font-weight: 500;
      margin: 0 0 24px 0;
    }

    .TeamBlock{
      text-align: center;
      display: flex;
      justify-content: center;

      .Team{
        flex: 1;
        max-width: 300px;
        &:first-child{margin-right: 24px;}
        &:last-child{margin-left: 24px;}

        .Flag{
          font-size: 0;

          .flag{
            margin: auto;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
          }
        }

        .Label{
          line-height: 20px;
          font-weight: 500;
        }
      }

      .ScoreContainer{
        height: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .Score{
          span{
            font-family: $font-family-numbers;
            font-weight: $font-weight-numbers;
            text-rendering: $text-rendering-numbers;
            font-size: $font-size-xxxl;
            font-weight: 500;
            line-height: 18px;

            &.Winner{
              border-bottom: solid $grey-dark 3px;
              padding: 0 2px;
            }
          }
        }
      }
    }
  }

  .MetaData{
    position: absolute;
    right: 0; bottom: 0; left: 0;
    height: 36px;
    background: rgba(255, 255, 255, 0.66);
    display: flex;
    justify-content: space-between;

    .Left{
      margin: 10px 6px;

      .icn-16{
        display: inline-block;
        vertical-align: top;
        margin-top: 1px;

      }

      .Label{
        display: inline-block;
        vertical-align: top;
        line-height: 16px;
        height: 16px;
        padding-left: 1px;
      }
    }

    .Right{
      margin: 6px;
      div:not(:first-child){margin-left: 6px;}
    }
  }
}

@media (max-width: $break-medium){
  .Paper.GameBlock{
    height: 200px;

    .GameBlockData{
      .Phase{
        margin: 0 0 12px 0;
      }

      .TeamBlock{
        .Team{
          &:first-child{margin-right: 12px;}
          &:last-child{margin-left: 12px;}

          .Flag{
            img{
              height: 58px;
            }
          }
        }

        .ScoreContainer{
          height: 78px;

          .Score{
            span{
              font-size: $font-size-xxl;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $break-medium){
  .Paper.GameBlock{
    border-radius: 0;
  }
}