@import '../constants/colors';
@import '../constants/breaks';

.AuthEditBlock{
  max-width: 500px;
  margin: 12px auto 0 auto;

  .AuthEditBlockForm{
    width: 100%;

    .AuthEditBlockTitle{
      width: 100px;
      text-align: right;
      padding-right: 8px;
    }

    .AuthEditBlockSwitch{
      text-align: center;
      padding: 6px 0;
    }

    input{
      text-align: left;
      padding: 8px 8px 0 4px;
      width: 100%;
      height: 40px;
      padding: 6px;
      font-size: 19px;
      background: transparent;
      border: none;
      border-bottom: solid $grey-dark 1px;
      transition: all .3s ease;
      border-radius: 0;

      &:focus {
        outline: 0;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        border-bottom: solid $grey-dark 1px;
      }
    }

    select {
//      margin: 7px 0 0 0;
//      outline: solid $grey-dark 1px;
//      width: 100%; height: 40px;
//      font-size: 19px;
//      color: white;
//      background: transparent;
//      border: none;
//
//      option{background-color: white;}
//
//      &:focus {
//        outline: solid $grey-5 1px;;
//      }
      width: 100%;
      height: 20px;
      background: white;
      margin: 10px 0;
    }
  }
}