@import '../constants/colors';
@import '../constants/breaks';

@keyframes loader {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@mixin loaderAnim($delay){
  animation: loader 1000ms ease infinite $delay;
}

.LoaderSmall{
  height: 8px;
  text-align: center;

  .Dot {
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 8px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 3px;
    transform: scale(0.5);
    @include loaderAnim(0ms);

    &:nth-child(2) {
      @include loaderAnim(333ms);
    }

    &:nth-child(3) {
      @include loaderAnim(666ms);
    }
  }
}