@import '../constants/colors';
@import '../constants/breaks';

.MyAccountBlock{
  text-align: center;

  .MyAccountBlockContent{
    margin-top: 12px;
  }

  .MyAccountBlockActions{
    margin-top: 12px;
    padding-top: 12px;
    border-top: dotted $grey-5 1px;
  }

  .MyAccountBlockTitle{
    font-weight: 300;
  }

  .MyAccountBlockData{
    background: $grey-1;
  }
}

//@media (max-width: $break-medium){
//  .MyAccountBlock{
//  }
//}