@import '../constants/colors';
@import '../constants/breaks';

.MyAppsBlock{
  text-align: center;

  table{
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;

    tbody{
      tr{
        &:not(:last-child){border-bottom: dotted $grey-4 1px;}
      }

      .Icon{
        border-right: dotted $grey-5 1px;
        font-weight: 300;
        padding: 3px 3px 4px 3px;
        text-align: center;

        .IconBack{
          display: inline-block;
          vertical-align: top;
          background-color: $blue-dark;
          border-radius: 4px;
          padding: 3px;
        }
      }

      .Label{
        text-align: center;
        border-right: dotted $grey-5 1px;
        .title{font-size: 16px; font-weight: 500;}
        .description{font-size: 16px;}
      }

      .Action{
        text-align: center;
        .TxtBtn{white-space: nowrap;}
      }
    }

  }
}

@media (max-width: $break-medium){
  .MyAppsBlock{

    table{
      tbody{
        display: block;
        
        tr{
          display: block;
          position: relative;
          text-align: center;
          background: white;
          border-radius: 0;
          &:not(:first-child){margin-top: 6px;}
          &:not(:last-child){border-bottom: solid $grey-5 2px;}

          .Icon{
            display: block;
            text-align: left;
            border-right: none;
            border-bottom: dotted $grey-5 1px;
          }

          .Label{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 0; right: 0; left: 93px;
            height: 93px;
            border: none;
            padding: 0 6px;
            overflow: hidden;
            .title{font-size: 13px;}
            .description{font-size: 13px;}
          }

          .Action{
            display: block;
            
            .TxtBtn{
              display: block;
              margin: 6px;
            }
          }
        }
      }
    }
  }
}