@import '../constants/colors';
@import '../constants/breaks';
@import '../constants/typography';

.Paper.UsersTab{
  text-align: center;
  padding: 0;

  .AltPaperTitle{
    border-bottom: solid $grey-3 1px;;
  }

  .User{
    padding: 6px 12px;
    position: relative;
    display: flex;
    justify-content: space-around;

    &:not(:last-child){border-bottom: solid $grey-3 1px;}

    &.Me{
      background: $blue-light;
    }

    .Rank{
      font-family: $font-family-numbers;
      text-rendering: $text-rendering-numbers;
      width: 34px;
      text-align: left;
    }

    .Points{
      flex: 1;
      width: 34px;
      text-align: right;
    }
  }
}

@media (max-width: $break-medium){
  .Paper.UsersTab{
    border-radius: 0;
  }
}