@import '../constants/colors';
@import '../constants/typography';

html {
  opacity: 0;
  &.wf-active, &.wf-inactive{opacity: 1;}
}

*{
  color: $color-primary;
  font-size: $font-size-m;
  font-family: $font-family;
  font-weight: $font-weight;
  text-rendering: $text-rendering;
}

body {
  color: $color-primary;
  background: $color-white;
  font-size: $font-size-m;
  font-family: $font-family;
  font-weight: $font-weight;
  text-rendering: $text-rendering;
}

.OnBoardBtn{
  background-color: #1cb962;

  &:hover{background-color: #12ce66;}
  &:focus{background-color: #00FF72;}
  &:active{background-color: #00FF72;}
}
