@import '../constants/colors';
@import '../constants/breaks';

.ChatPage {
  position: absolute;
  top: 0; right: 0; bottom: 44px; left: 0;
  overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch;
  padding: 12px 12px 12px 4px;
}

@media (max-width: $break-medium){
  .ChatPage{
    padding: 12px;
  }
}