@import '../constants/colors';
@import '../constants/breaks';

.ScrollPage.ChatPage {
  bottom: 44px;

  .ChatPageContainer{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
