@import '../constants/colors';
@import '../constants/breaks';

.DemoPage {
  .SmallText{
    line-height: 18px;
    margin: 36px 0;
    text-align: center;
    
    span{
      font-size: 18px;
    }
  }
}

//@media (max-width: $break-medium){
//}