@import '../constants/colors';
@import '../constants/breaks';

.GamePage{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch;
  padding: 12px 12px 12px 4px;

  .PredictionBlock{
    margin-top: 12px;
  }
}

@media (max-width: $break-medium){
  .GamePage{
    padding: 0 0 12px 0;
  }
}