@import '../constants/colors';
@import '../constants/breaks';

.GamesPage{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch;
  padding: 12px 12px 12px 4px;

  .GamesHelp{
    margin-bottom: 12px;

    .HelpSpacer{
      margin: 12px -12px -12px -12px;
      text-align: center;

      .TxtBtn{
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: $break-medium){
  .GamesPage{
    padding: 0 0 12px 0;

    .GamesHelp{
      margin: 0;
    }
  }
}
