@import '../constants/colors';

.GamesPage {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch;

  .GamesPageContainer{
    padding: 12px;
  }

  .GamesPageContent{
    margin-top: 12px;

    .Match{
      &:not(:last-child){
        border-bottom: dotted $grey-5 1px;
        margin-bottom: 3px;
        padding-bottom: 3px;
      }
    }
  }
}
