@import '../constants/colors';
@import '../constants/breaks';

.HelpPage{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch;
  padding: 12px 12px 12px 4px;

  .IlluContainer{
    margin: -12px -12px 24px -12px;
    padding: 24px;
    background: url('../../assets/uiux_help-back.jpg') center center no-repeat;
    background-size: cover;

    .Illu{
      height: 320px;
      background: url('../../assets/super_victor.svg') center top no-repeat;
      background-size: contain;
    }
  }

  .HelpPageCtnt{
    .Footer{
      max-width: 700px;
      margin: 12px auto 0 auto;
      text-align: center;
      border-top: dotted $grey-5 1px;
      margin-top: 12px;
      padding-top: 12px;
      div, span, a, th, td{font-size: 17px;}
    }
  }
}

@media (max-width: $break-medium){
  .HelpPage{
    padding: 0;

    .Paper{
      border-radius: 0;

      .IlluContainer{
        padding: 12px;

        .Illu{
          height: 220px;
        }
      }
    }
  }
}

@media (max-width: $break-small){
  .HelpPage{
    .IlluContainer{
      .Illu{
        height: 180px;
      }
    }
  }
}