@import '../constants/colors';
@import '../constants/breaks';

.HomePage {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch;
  padding: 12px 12px 12px 4px;

  .HomeHelp{
    margin-bottom: 12px;

    .HelpSpacer{
      border-top: dotted $grey-5 1px;
      margin-top: 12px;
      padding-top: 12px;
      text-align: center;

      .TxtBtn{
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: $break-medium){
  .HomePage{
    padding: 0 0 12px 0;

    .HomeHelp{
      margin: 12px;
    }
  }
}
