@import '../constants/breaks';

.pixel{
  width: 0; height: 0;
  &.loader{background: url('../../assets/loader.svg');}
  &.uiux_icons{background: url('../../assets/uiux_icons.svg');}
  &.uiux_footix{background: url('../../assets/uiux_footix.png');}
  &.bordeaux{background: url('../../assets/staduims/bordeaux.jpg');}
  &.lens{background: url('../../assets/staduims/lens.jpg');}
  &.lille{background: url('../../assets/staduims/lille.jpg');}
  &.lyon{background: url('../../assets/staduims/lyon.jpg');}
  &.marseille{background: url('../../assets/staduims/marseille.jpg');}
  &.nice{background: url('../../assets/staduims/nice.jpg');}
  &.paris{background: url('../../assets/staduims/paris.jpg');}
  &.saint-denis{background: url('../../assets/staduims/saint-denis.jpg');}
  &.saint-etienne{background: url('../../assets/staduims/saint-etienne.jpg');}
  &.toulouse{background: url('../../assets/staduims/toulouse.jpg');}
}

@mixin uiux-btns{
  background: url('../../assets/uiux_btns.svg') 0 0 no-repeat;
  background-size: 360px 282px;
}

@mixin uiux-icons{
  background: url('../../assets/uiux_icons.svg') 0 0 no-repeat;
  background-size: 256px 390px;
}


.btn-20{
  @include uiux-btns;
  width: 20px; height: 20px;
  background-position: -0px -0px;

  &.back{background-position: -25px 0;}
  &.title{background-position: -50px 0; width: 80px;}

  &:hover{background-position-y: -24px;}
  &:active{background-position-y: -48px;}
}

.btn-26{
  @include uiux-btns;
  width: 26px; height: 26px;
  background-position: -0px -75px;

  &.more{background-position: -0px -75px;}
  &.games{background-position: -30px -75px;}
  &.ranking{background-position: -60px -75px;}
  &.chat{background-position: -90px -75px;}
  &.help{background-position: -120px -75px;}
  &.account{background-position: -150px -75px;}
  &.refresh{background-position: -180px -75px;}
  &.back{background-position: -210px -75px; width: 16px;}
  &.main{
    background-position: -230px -75px;
    &.full{width: 90px;}
  }

  &:hover{background-position-y: -105px;}
  &:active, &.active{background-position-y: -135px;}
}

.btn-36{
  @include uiux-btns;
  width: 36px; height: 36px;

  &.main{
    background-position: -0px -166px;
    &.full{width: 120px;}
  }

  &:hover{background-position-y:-206px;}
  &:active{background-position-y:-246px;}
}


.icn-10{
  @include uiux-icons;
  width: 10px; height: 10px;

  &.live{background-position: -0px -0px; width: 24px;}
  &.next{background-position: -30px -0px; width: 32px;}
}

.icn-16{
  @include uiux-icons;
  width: 16px; height: 16px;

  &.pin{background-position: -0px -20px;}
  &.chip{background-position: -50px -20px;}
}

.icn-18{
  @include uiux-icons;
  display: inline-block;
  vertical-align: top;
  width: 18px; height: 18px;

  &.tf1{background-position: -0px -50px;}
  &.m6{background-position: -22px -50px;}
  &.tmc{background-position: -44px -50px;}
  &.bein-sports-1{background-position: -66px -50px;}
}

.icn-24{
  @include uiux-icons;
  display: inline-block;
  vertical-align: top;
  width: 24px; height: 24px;

  &.tf1{background-position: -0px -80px;}
  &.m6{background-position: -30px -80px;}
  &.tmc{background-position: -60px -80px;}
  &.bein-sports-1{background-position: -90px -80px;}
}

.icn-60{
  @include uiux-icons;
  width: 60px; height: 60px;

  &.footix{background-position: -0px -120px;}
}

.icn-70{
  @include uiux-icons;
  width: 240px; height: 70px;
  background-position: -0px -200px;

  &.lotofoot{background-position: -0px -200px;}
}

.icn-100{
  @include uiux-icons;
  width: 100px; height: 100px;

  &.account{background-position: -0px -290px;}
}
