@import '../constants/breaks';

.pixel{
  width: 0; height: 0;
  &.loader{background: url('../../assets/loader.svg');}
  &.uiux_icons{background: url('../../assets/uiux_icons.png');}
  &.uiux_footix{background: url('../../assets/uiux_footix.png');}
  &.bordeaux{background: url('../../assets/staduims/bordeaux.jpg');}
  &.lens{background: url('../../assets/staduims/lens.jpg');}
  &.lille{background: url('../../assets/staduims/lille.jpg');}
  &.lyon{background: url('../../assets/staduims/lyon.jpg');}
  &.marseille{background: url('../../assets/staduims/marseille.jpg');}
  &.nice{background: url('../../assets/staduims/nice.jpg');}
  &.paris{background: url('../../assets/staduims/paris.jpg');}
  &.saint-denis{background: url('../../assets/staduims/saint-denis.jpg');}
  &.saint-etienne{background: url('../../assets/staduims/saint-etienne.jpg');}
  &.toulouse{background: url('../../assets/staduims/toulouse.jpg');}
}

@mixin uiux-btns{
  background: url('../../assets/uiux_btns.svg') 0 0 no-repeat;
  background-size: 360px 282px;
}

@mixin uiux-icons{
  background: url('../../assets/uiux_icons.svg') 0 0 no-repeat;
  background-size: 256px 390px;
}

@mixin uiux-flags{
  background: url('../../assets/uiux_flags.png') 0 0 no-repeat;
  background-size: 2490px 77px;
}


.btn-20{
  @include uiux-btns;
  width: 20px; height: 20px;
  background-position: -0px -0px;

  &.back{background-position: -25px 0;}
  &.title{background-position: -50px 0; width: 80px;}

  &:hover{background-position-y: -24px;}
  &:active{background-position-y: -48px;}
}

.btn-26{
  @include uiux-btns;
  width: 26px; height: 26px;
  background-position: -0px -75px;

  &.more{background-position: -0px -75px;}
  &.games{background-position: -30px -75px;}
  &.ranking{background-position: -60px -75px;}
  &.chat{background-position: -90px -75px;}
  &.help{background-position: -120px -75px;}
  &.account{background-position: -150px -75px;}
  &.refresh{background-position: -180px -75px;}
  &.back{background-position: -210px -75px; width: 16px;}
  &.main{
    background-position: -230px -75px;
    &.full{width: 90px;}
  }

  &:hover{background-position-y: -105px;}
  &:active, &.active{background-position-y: -135px;}
}

.btn-36{
  @include uiux-btns;
  width: 36px; height: 36px;

  &.main{
    background-position: -0px -166px;
    &.full{width: 120px;}
  }

  &:hover{background-position-y:-206px;}
  &:active{background-position-y:-246px;}
}


.icn-10{
  @include uiux-icons;
  width: 10px; height: 10px;

  &.live{background-position: -0px -0px; width: 24px;}
  &.next{background-position: -30px -0px; width: 32px;}
}

.icn-16{
  @include uiux-icons;
  width: 16px; height: 16px;

  &.pin{background-position: -0px -20px;}
  &.chip{background-position: -50px -20px;}
}

.icn-18{
  @include uiux-icons;
  display: inline-block;
  vertical-align: top;
  width: 18px; height: 18px;

  &.tf1{background-position: -0px -50px;}
  &.m6{background-position: -22px -50px;}
  &.tmc{background-position: -44px -50px;}
  &.bein-sports-1{background-position: -66px -50px;}
}

.icn-24{
  @include uiux-icons;
  display: inline-block;
  vertical-align: top;
  width: 24px; height: 24px;

  &.tf1{background-position: -0px -80px;}
  &.m6{background-position: -30px -80px;}
  &.tmc{background-position: -60px -80px;}
  &.bein-sports-1{background-position: -90px -80px;}
}

.icn-60{
  @include uiux-icons;
  width: 60px; height: 60px;

  &.footix{background-position: -0px -120px;}
}

.icn-70{
  @include uiux-icons;
  width: 240px; height: 70px;
  background-position: -0px -200px;

  &.lotofoot{background-position: -0px -200px;}
}

.icn-100{
  @include uiux-icons;
  width: 100px; height: 100px;

  &.account{background-position: -0px -290px;}
}


.flag-12{
  @include uiux-flags;
  width: 18px; height: 12px;
  background-position: -2400px -0px;

  &.albania{background-position: -0px -65px;}
  &.austria{background-position: -100px -65px;}
  &.belgium{background-position: -200px -65px;}
  &.croatia{background-position: -300px -65px;}
  &.england{background-position: -400px -65px;}
  &.france{background-position: -500px -65px;}
  &.germany{background-position: -600px -65px;}
  &.hungary{background-position: -700px -65px;}
  &.iceland{background-position: -800px -65px;}
  &.ireland{background-position: -900px -65px;}
  &.italy{background-position: -1000px -65px;}
  &.northern-ireland{background-position: -1100px -65px;}
  &.poland{background-position: -1200px -65px;}
  &.portugal{background-position: -1300px -65px;}
  &.romania{background-position: -1400px -65px;}
  &.russia{background-position: -1500px -65px;}
  &.slovakia{background-position: -1600px -65px;}
  &.spain{background-position: -1700px -65px;}
  &.sweden{background-position: -1800px -65px;}
  &.switzerland{background-position: -1900px -65px;}
  &.czech-republic{background-position: -2000px -65px;}
  &.ukraine{background-position: -2100px -65px;}
  &.turkey{background-position: -2200px -65px;}
  &.wales{background-position: -2300px -65px;}
}

.flag-60{
  @include uiux-flags;
  width: 90px; height: 60px;
  background-position: -2400px -0px;

  &.albania{background-position: -0px -0px;}
  &.austria{background-position: -100px -0px;}
  &.belgium{background-position: -200px -0px;}
  &.croatia{background-position: -300px -0px;}
  &.england{background-position: -400px -0px;}
  &.france{background-position: -500px -0px;}
  &.germany{background-position: -600px -0px;}
  &.hungary{background-position: -700px -0px;}
  &.iceland{background-position: -800px -0px;}
  &.ireland{background-position: -900px -0px;}
  &.italy{background-position: -1000px -0px;}
  &.northern-ireland{background-position: -1100px -0px;}
  &.poland{background-position: -1200px -0px;}
  &.portugal{background-position: -1300px -0px;}
  &.romania{background-position: -1400px -0px;}
  &.russia{background-position: -1500px -0px;}
  &.slovakia{background-position: -1600px -0px;}
  &.spain{background-position: -1700px -0px;}
  &.sweden{background-position: -1800px -0px;}
  &.switzerland{background-position: -1900px -0px;}
  &.czech-republic{background-position: -2000px -0px;}
  &.ukraine{background-position: -2100px -0px;}
  &.turkey{background-position: -2200px -0px;}
  &.wales{background-position: -2300px -0px;}
}
