@import '../constants/breaks';
@import '../constants/colors';
@import '../constants/typography';

.NotFoundPage{
  .Texts{
    text-align: center;
    margin-top: 24px;

    .Text{
      font-size: $font-size-xxl;
    }

    .OnBoardBtn{
      margin-top: 12px;
    }
  }
}

@media (max-width: $break-medium){
  .NotFoundPage{
    .Texts{
      text-align: center;
      margin-top: 18px;

      .Text{
        font-size: $font-size-xl;
      }

      .OnBoardBtn{
        margin-top: 9px;
      }
    }
  }
}