@import '../constants/colors';
@import '../constants/breaks';

.Page, .Page.Public{

  .Page-body {
    top: 58px;
    background: $grey-0;
  }
}

@media (max-width: $break-medium){
  .Page, .Page.Public{
    .Page-body {
      top: 48px;
    }
  }
}