@import '../constants/colors';
@import '../constants/breaks';
@import '../constants/typography';

.Page, .Page.Public{
  .Page-body {
    top: 58px;
    background: $grey-0;
  }
}

.Paper .PaperTitle {
  font-size: $font-size-xl;
  margin-bottom: 12px;
  border-top-width: 0;
}

@media (max-width: $break-medium){
  .Page{
    .Page-body {
      top: 48px;
      bottom: 44px;
    }

    &.Public .Page-body {
      bottom: 0;
    }
  }

  .ScrollPage {
    padding: 0;
  }
}