@import '../constants/colors';

.RankingPage {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch;

  .RankingPageContainer{
    padding: 12px;
  }
  
  .RankingPageContent{
    margin-top: 12px;
  }
}
