@import '../constants/colors';
@import '../constants/breaks';

.RankingPage {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch;
  padding: 12px 12px 12px 4px;
}

@media (max-width: $break-medium){
  .RankingPage{
    padding: 12px;
    padding: 0;
  }
}