@import '../constants/colors';
@import '../constants/breaks';
@import '../constants/typography';

.RegisterPage.ScrollPage.NoPadding {
  &:before {
    min-height: 800px;
  }

  .Register{
    min-height: 800px;
  }
}

@media (max-width: $break-medium){
  .RegisterPage.ScrollPage.NoPadding {
    &:before {
      min-height: 640px;
    }

    .Register{
      min-height: 640px;
    }
  }
}