@import '../constants/colors';
@import '../constants/breaks';

.AccountDialog{
  position: absolute;
  top: 54px; right: 12px;
  width: 308px;

  background: white;
  z-index: 300;
  border-radius: 2px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  border: solid $grey-5 1px;

  .AccountDialogCtnt{
    overflow: hidden;
    padding: 12px;
  }

  &.AccountDialogAnim-enter {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    .AccountDialogCtnt{padding: 0 12px; max-height: 10px;}
  }

  &.AccountDialogAnim-enter.AccountDialogAnim-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 250ms ease-out 0ms;
    .AccountDialogCtnt{transition: all 250ms ease-out 0ms; padding: 12px; max-height: 320px; }
  }

  &.AccountDialogAnim-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.AccountDialogAnim-leave.AccountDialogAnim-leave-active {
    opacity: 0;
    transform: translate3d(10px, 0, 0);
    transition: all 450ms ease-out 0ms;
  }

  .AccountDialogArrow-1{
    position: absolute;
    top: -10px; right: 14px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $grey-5;
  }

  .AccountDialogArrow-2{
    position: absolute;
    top: -9px; right: 15px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid white;
  }

  .icn-100{
    display: inline-block;
    vertical-align: top;
  }

  .AccountDialogInfos{
    display: inline-block;
    vertical-align: top;
    width: 182px;
    padding: 10px 0 0 12px;
    font-size: 14px;
    text-align: left;

    span{
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:first-child{font-weight: 300;}
      &.TxtBtn{margin-top: 12px;}
    }

    .TxtBtn{margin-top: 12px;}
  }

  .AccountDialogActions{
    margin: 12px -12px 0 -12px;
    padding-top: 12px;
    border-top: dotted $grey-5 1px;
  }
}

@media (max-width: $break-medium){
  .AccountDialog{
    right: 6px;

    .AccountDialogArrow-1{
      right: 37px;
    }

    .AccountDialogArrow-2{
      right: 38px;
    }
  }
}