@import '../constants/colors';
@import '../constants/typography';

.Dialog{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 700;

  .Window{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;
    border-radius: 2px;
    z-index: 701;
    background: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    &.opened{opacity: 1; top: 50%;}
    &.closed{opacity: 0; top: 60%;}
  }

  &.Anim-enter {
    background: rgba(0, 0, 0, 0);
    .Window{opacity: 0; top: 40%; transform: translateZ(0);}
  }

  &.Anim-enter.Anim-enter-active {
    will-change: background;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background: rgba(0, 0, 0, 0.5);

    .Window{
      will-change: opacity, top, transform;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      opacity: 1;
      top: 50%;
      transform: translateZ(0);
    }
  }

  &.Anim-leave {
    opacity: 1;
    .Window{opacity: 1; top: 50%; transform: translateZ(0);}
  }

  &.Anim-leave.Anim-leave-active {
    will-change: background;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background: rgba(0, 0, 0, 0);

    .Window{
      will-change: opacity, top, transform;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      opacity: 0;
      top: 60%;
      transform: translateZ(0);
    }
  }

  .Txt{
    position: absolute;
    left: 24px;
    right: 24px;
    top: 12px;
    bottom: 53px;
    text-align: center;
    line-height: 136px;

    span{
      display: inline-block;
      line-height: 22px;
      vertical-align: middle;
      width: 100%;
      max-width: 100%;
      word-wrap: break-word;
      word-break: break-word;
    }
  }

  .ButtonsBlock{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;

    .Button{
      width: 100%;
      cursor: pointer;
      text-decoration: none;
      height: 40px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $grey-dark;
      border: none;
      border-top: 1px solid $grey-5;
      background-color: transparent;
      line-height: 34px;
      &:focus {background-color: $grey-1; outline: 0;}
      &:hover{background-color: $grey-3;}
      &:active{background-color: $grey-2;}
      &:last-child{border-left: 1px solid $grey-5;}

      &.Green{
        background: #75de81;
        color: white;
        &:focus{background-color: #9ae8a3; outline: none; border: #52c65f solid 1px;}
        &:hover{background-color: #9ae8a3;}
        &:active{background: #acf2b4;}
      }
    }
  }
}
